<div class="loginBody">
    <form ng-submit="login.login()" method="post">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user fa-lg"></i>
            </span>
            <input type="text" class="form-control" ng-model="login.user" placeholder="Usuario" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-key fa-lg"></i>
            </span>
            <input type="password" class="form-control" ng-model="login.password" placeholder="Clave" aria-describedby="basic-addon1">
        </div>  
        <div class="input-group" style="width: 100%;">
            <button type="submit" class="btn btn-default" style="width: 100%;">Entrar</button>
        </div>  
    </form>
</div>