body {
}

a {
    color: #00B7FF;
}

.bibliography-download {
    width: 1em;
    height: 1em;
}

.loginBody {
    width: 35%;
    margin: auto;
    margin-top: 10%;
}

.input-group {
    margin-top: 5%;
}
